	.popup-table tbody{
		border-bottom: 1px solid #d7d7d7 !important;
	}
	
	.popup-table tr:nth-child(n+2) td:{
		font-size: 12px;
		padding: 10px;
		font-weight: normal;	
	}

	.popup-table .view-more{
		margin: 8px 0;
		width: 100%;
		text-align: center;
	}
	
	.popup-table > tr:first-child td:first-child {
		display: none;
	}
	
	.popup-table > tr:first-child td:last-child{
		width: 100%;
		text-align: center;
		font-size: 15px;
		padding: 10px 0;
		font-weight: normal;
		border-bottom: 1px solid #d7d7d7 !important;
		color: #510417;
		
	}
	
	.leaflet-popup-content-wrapper{
		border-radius: 3px;
		box-shadow: none;
		border: 2px solid #aaaaaa;
	}
	
	
	.custom-popup .leaflet-popup-content {
          margin: 0px;
          line-height: 0.75;
        }
        .custom-popup .leaflet-popup-content p {
          margin: 5px 0;
        }
        .custom-popup .leaflet-popup-content table, th, tr, td {
          border-style: none !important;
          border-bottom-style: none !important;
          border-top-style: none !important;
          padding-top: 2px;
          padding-bottom: 2px;
          font-family: 'Muli', sans-serif;
        }
        /* choose colors http://colorbrewer2.org */
        .table-striped>tbody>tr:nth-child(odd)>td, 
        .table-striped>tbody>tr:nth-child(odd)>th {
             background-color: white; /* no color should be here */
        }
        .table-hover tbody tr:hover td {
             background: #fff7bc;  /* orange */
        }
        /* custom formats for cells with class:
              td [.cell-name]  .string 
              td [.cell-value] .numeric .fieldname
              td [.cell-value] .string .fieldname 
        */
        .cell-value {
           font-weight: bold;
        }