.modal-dialog
{
  width: 60%;
}
.trend_icon
{
display: block;
width: 25px;
height: 25px;
background-image: url(img/trend_meter.png);
background-repeat: no-repeat;
}

.dropdown-menu
{
left:auto;
right:0;
	
}

label.btn-default.statebutton.active
{
	background-color: #46AF31;
	background-image: none;
	border-color: rgb(128, 128, 128);
	
}

label.btn-default.statebutton
{
	background-color: #2d6ca2;
	background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	border-color: rgb(43, 102, 154);'
}

.trend_down
{
background-position: 0px 0px;
}

.trend_no_change
{
background-position: 0px -150px;
}

.trend_up
{
background-position: 0px -210px;
}
#sidebar,#multiSelecter
{
	border-color: #ABC;
	
	border-style: solid;
	border-top-style: none;
	border-left-style: none;
	border-radius: 20px;
	border-radius: 20px;
}
.stateButton
{
	width: 125;
}
input[type="checkbox"]{
	display:none;
}

table.table tbody tr td.tabbed_metric
{
	padding-left:30px;
}

.tab-pane
{
	
	overflow:auto;
	height:75%;
	
}