/* Basic
=================================================================== */
body 
{
  color: #34495e;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  height: 100%;
  width: 100%;
}

html
{
	height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


h1 {
	font-size: 32px;
	line-height: 32px;
}

h2 {
	font-size: 16px;
	line-height: 16px;
}

h3 {
	font-size: 15px;
	line-height: 15px;
}

h4 {
	font-size: 14px;
	line-height: 14px;
}

h5 {
	font-size: 13px;
	line-height: 13px;
}

h6 {
	font-size: 12px;
	line-height: 12px;
}

/* Header Section
=================================================================== */
.navbar {
	margin-bottom: 0px;
}

.navbar-inner {
	margin-bottom: 0px;
  	min-height: auto;
  	padding-right: 0px;
  	padding-left: 0px;
	background: #fff;
	filter: none;
	border: none;
	color: #fff;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}

.navbar .nav > li 
{
	padding :0px;
	margin:0px;
}

.navbar .nav > li > a
{
	color: #000;
	border-radius :2px;
	font-weight: 400;
}

.navbar .nav > li > a:hover
{
	text-shadow:none; 
}

.navbar .pull-right.nav
{
	margin-top:10px;
}

.nav .dropdown-toggle .caret
{
	border-top-color:#000;
	border-bottom-color:#000;
	margin-left :3px;
}

.navbar .pull-right.nav > li
{
	margin-top :13px;
	margin-right:0px;
	border-right: 1px solid #E0E0E0;
	
}

.navbar .pull-right.nav > li:first-child
{
	border-left: 1px solid #E0E0E0;
}

.navbar .pull-right.nav > li > a
{
	background: transparent;
	color: #222;
	font-size:16px;
	font-weight:600;
	text-shadow : text-shadow: -1px -1px 0 #e0e0e0;
}

.navbar .pull-right.nav > li > a:hover
{
	background: #444;
	color: #fff;
}

.brand img {
	margin: -12px 0px -5px 0px;
}

a.brand span {
	color: #fff;
	text-shadow: none;
}

.header-nav {
	padding: 0px;
	color: #fff !important;
	background: #000 !important;
}

.header-nav .nav {
	margin: 0px;
}

.header-nav .btn {
  	display: inline-block;
  	padding: 21px 20px;
	margin-top: 0px;
  	margin-left: 0px;
  	font-size: 14px;
  	line-height: 20px;
  	text-align: center;
  	text-shadow: none;
  	vertical-align: middle;
  	cursor: pointer;
  	background: transparent;
  	border-left: none;
	border-right: none;
	border-top: 0px;
	border-bottom: 0px;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
  	-webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
          	box-shadow: none !important;
}

.header-nav a.btn  {
	color: #fff !important;
	text-shadow: none !important;
	padding: 10px 25px !important;
}

.header-nav .btn .caret {
	border-top-color: #fff !important;
	border-bottom-color: #fff !important;
}

.header-nav .btn:hover .caret {
	border-top-color: #fff !important;
	border-bottom-color: #fff !important;
}

/* Navigation Section
=================================================================== */


/* State Selection Specific Styling */
#stateSelectionCol
{
	width: 200px;
}

#stateSelectionCol > .sidebar-content
{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.stateSelectionOption.selected
{
	font-weight: bold !important;
}

.stateSelectionOption.selected > i
{
	display: inline !important;
}

.stateSelectionOption > i
{
	display: none;
}

.selectPeerStates.selected
{
	font-weight: bold !important;
}

.selectPeerStates.selected > i
{
	display: inline !important;
}

.selectPeerStates > i
{
	display: none;
}

.stateFilter
{
	height: 30px;
	background-color: #e0e0e0;
	padding: 5px;
	border-bottom: 1px solid #D8D8D8;
}

.stateFilter > input
{	
	width: 165px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
}


/* Metric Selection Specific Styling */
.metricOption.selected
{
	font-weight: bold !important;
}

.metricOption.selected > i
{
	display: inline !important;
}

.metricOption > i
{
	display: none;
}

/* Sidebar Styling */
.sidebar 
{
	position: relative;
	
	display: block;
	float: left; 
		
	margin: 0px;
	
	width: auto;
	height: 100%;
	
	z-index: 999;
	
	overflow: hidden;	
	
	background: #fff;		
}

.sidebar > .column 
{
	position: relative;
	
	width: 250px;
	height: 100%;	
	float: left;
}

/* Sidebar Title Styling */
.sidebar > .column > .title
{
	background: #7b0020;
	
	height: 50px;	
	width: 100%;
}

.sidebar > .column > .title > span
{
	display: inline-block;
	
	font-size:18px;
	color: #fff;
	
	padding: 15px 10px 14px;
}

/* Sidebar Content Styling */
.sidebar-content
{
	list-style: none;	
	font-size: 13px;
}

/* Start Single Section Sidebar Column Content Style */
.sidebar-content.single-section
{
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	overflow-y: scroll;
	overflow-x: hidden;
}

.sidebar-content.single-section > ul
{
	list-style: none;
	margin: 0px;
	width: 100%;
}

.sidebar-content.single-section > ul > li > a
{
	display: block;
	
	padding: 8px 15px 8px 15px;
	
	color: #000;
	text-decoration: none;
	
	border-bottom: 1px solid #E0E0E0;
	
	cursor: pointer;
}

.sidebar-content.single-section > ul > li > a:hover
{
	background-color: rgb(240,240,240);
}

/* End Single Section Sidebar Column Content Style */

/* Start Accordion Sidebar Column Content Style */

.sidebar-content.accordion-menu
{
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
		
	overflow-y: hidden;
	overflow-x: hidden;
}

/* Container UL */
.sidebar-content.accordion-menu > ul
{
	list-style: none;
	margin: 0px;
	
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;	
}

.sidebar-content.accordion-menu > ul > li
{
	border-bottom: 1px solid #999;
}

/* Metric Category Title */

.sidebar-content.accordion-menu > ul > li > a
{
	display: block;
	
	padding: 15px 10px 15px 10px;
	
	color: #000;
	text-decoration: none;
	
	border-bottom: 1px solid #E0E0E0;
	
	cursor: pointer;
}

.sidebar-content.accordion-menu > ul > li > a:hover
{
	background-color: rgb(240,240,240);
	text-decoration: underline;
}

/* Metric Category Items */

.sidebar-content.accordion-menu > ul > li > ul 
{
	display: block;
	list-style: none;
	
	overflow-y: scroll;
	overflow-x: hidden;
		
	height: 0px;	
		
	margin: 0px;	
}

/* Metric Category Item */
.sidebar-content.accordion-menu > ul > li > ul > li > a 
{
	display: block;
	
	padding: 8px 15px 8px 15px;
	
	color: #000;
	text-decoration: none;
	
	border-bottom: 1px solid #E0E0E0;
	
	cursor: pointer;
}

.sidebar-content.accordion-menu > ul > li > ul > li > a:hover
{
	background-color: rgb(240,240,240);
}

/* End Accordion Sidebar Column Content Style */


.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle 
{
  	  	outline: 0;
        background :#444;
        color : #fff;
        text-shadow:none;
}

.dropdown-menu 
{
  	background-color:#fff;
  	color: #000;
  	
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
		
	height:210px;
	width:200px;
	
	position:absolute;
	right:0px;
	display:none;
}

.dropdown-menu  form
{
	padding: 20px;
}

/* Content and Main Elements
=================================================================== */

.container-fluid-full
{
	position: absolute;	
	left: 0px;
	right: 0px;
	top: 135px;
	bottom: 40px;	
	
	background: #fff;
}

/* Content pane for visualization */
#content {
	display: block;
	margin-left:0px !important;
	
	height: 100%;
}

/* Box containing tables/graphs for visualization */
.box-content {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.box-content > table {	
	width: 80%;
	
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

svg text {
	font-size: 14px;
}

#heatmap-wrapper {
	width: 100%;
	height: 100%;
	overflow: visible;
}

#heatmap-inner-wrapper {
	position: relative;
	margin-left: auto;
	margin-right: auto;	
}

#heatmap-tooltip {
	position: absolute;
	top: 0px;
	left: 0px;
	
	width: 130px;
	
	padding: 10px;
	
	background-color: #e0e0e0;
	box-shadow: 0px 0px 5px black;
	
	opacity: 0.9;
	filter: alpha(opacity=0.9);
}

#heatmap-controls {
	position: absolute;
	top: 0px;
	right: 0px;
	
	height: 340px;
	max-height: 100%;
	width: 180px;
				
	background-color: #e0e0e0;	
	box-shadow: 0px 0px 3px black;
}

#heatmap-legend {
	position: absolute;
	
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

#heatmap-legend-title {
	background-color: #7b0020;
	color: white;
	font-size: 15px;
	padding: 7px;
}

#heatmap-legend-details {
	padding: 5px;
	font-size: 13px;	
}

.heatmap-detailTitle {
	display: inline-block;
	font-weight: 600;
}

#heatmap-legend-legend {	
	padding-top: 10px;	
	padding-bottom: 10px;
	
	position: absolute;
	top: 120px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	overflow-y: scroll;
	overflow-x: hidden;
}

.heatmap-legend-bucket {
	padding-left: 7px;
	padding-right: 5px;
	
	margin-top: -5px;
	
	display: block;
}

.heatmap-legend-bucket-swatch {
	width: 20px;
	height: 20px;
	display: inline-block;	
	
	border: 1px solid #333;
}

.heatmap-legend-bucket-num {
	margin-left: 5px;
	display: inline-block;
}


#mbodyMultipleQuery {
	margin-top: 30px;
}

#viewWrapper {
	position: absolute;
	top: 50px;
	left: 450px;
	right: 0px;
	bottom: 0px;
	
	padding-bottom: 10px;
	
	overflow-y: scroll;
	overflow-x: scroll;
}

#vizView {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;	
}

#errorView {
	display: block;
	
	padding-top: 50px;
}

#errorMsgWrapper {
	font-weight: 400;
	font-size: 18px;
	
	color: #000;
	
	text-align: center;
}

#errorMsgWrapper > i {
	padding-right: 20px;
	display: inline-block;
}

#errorMsgWrapper > span {
	display: inline-block;
	
	text-align: left;
}

/* Buttons
=================================================================== */

button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #a7a9aa;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
  
   	color: #ffffff;
  	background-color: #a7a9aa;
  	border-color: #a7a9aa;
	background-image: none;
	filter: none;
	text-shadow: none;
}

button i{
	margin-top: 2px;
}

button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

button:hover, button:focus
 {
  color: #fff;
  text-decoration: none;
  
  background-color: #9a9c9d;
  border-color: #8d9091;
  font-weight:bold;
}

button.active {
  background-color: #7b0020;
}

button:disabled, button.disabled
{
	cursor:default;
	background-image :none;
	opacity:0.65
	-webkit-box-shadow: none;
	filter:alpha(opacity=65);
	box-shadow:none;
	background-color:#e6e6e6;
	color:#9a9c9d;
	border-color: #f2f2f2;
}

/* Tables
=================================================================== */

.table th,
.table td {
  border-top: 1px solid #eee;	
}

.table-bordered {
  border-color: #eee;	
  -webkit-border-radius: 0px !important;
	 -moz-border-radius: 0px !important;
          border-radius: 0px !important;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #eee;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-radius: 0px !important;
	 -moz-border-radius: 0px !important;
          border-radius: 0px !important;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-radius: 0px !important;
	 -moz-border-radius: 0px !important;
          border-radius: 0px !important;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-radius: 0px !important;
	 -moz-border-radius: 0px !important;
          border-radius: 0px !important;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-radius: 0px !important;
	 -moz-border-radius: 0px !important;
          border-radius: 0px !important;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0px !important;
	 -moz-border-radius: 0px !important;
          border-radius: 0px !important;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-radius: 0px !important;
	 -moz-border-radius: 0px !important;
          border-radius: 0px !important;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-radius: 0px !important;
	 -moz-border-radius: 0px !important;
          border-radius: 0px !important;
}

.pagination ul {
  -webkit-border-radius: 0px !important;
	 -moz-border-radius: 0px !important;
          border-radius: 0px !important;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 0px;
          border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
          border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 0px;
          border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
}

i.fa.fa-info-circle {
    color: #A7A9AA;
}


.graph-tab i.fa.fa-us-map {
    background: url("../img/us-map.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 34px;
    height: 25px;
}

.graph-tab > a:hover > i.fa.fa-us-map {
    background: url("../img/us-map-active.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 34px;
    height: 25px;
}

.graph-tab.active i.fa.fa-us-map {
    background: url("../img/us-map-active.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 34px;
    height: 25px;
}
/* Footer
=================================================================== */

footer {
	position: absolute;
	
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	height: 40px;
	
	background: #7b0020;
	color: #fff !important;
}

footer > div
{
	margin-top: 10px;
	
	width: 100%;
	text-align: center;
}

footer > div > a
{
	color:#fff;
}

footer > div > a:hover
{
	color:#fff;
	text-decoration: underline;
}

/*******************added by manik*******************************/

.pagination > ul > li > a
{
	padding: 10px 20px;
	border-left: none;/*1px solid #a7a9aa;*/
	border-right:none;
	border-radius:0px;
	border-top:none;
	border-bottom:none;
	background-color: transparent;
	font-weight : 600;
	font-size:15px;
	color:#000;
}

#graph-menu{
	padding-right: none;
	background-color: #f5f5f5;
	margin:1px 0px;
}

#graph-menu > ul > li , .pagination > ul {
	margin:0px;
	border:none;
}

.pagination-right >.nav-tabs > li.active > a,   .pagination-right >.nav-tabs > li.active > a:hover,   .pagination-right >.nav-tabs > li.active > a:focus{
	color:#fff;
	background-color: #7b0020;
	border:none;
}
.pagination-right > .nav-tabs > li > a:hover, .pagination-right >.nav-tabs > li > a:hover, .pagination-right >.nav-tabs > li.active > a:hover{
	color:#fff;
	background-color: #7b0020;
	border:none;
	text-decoration:none;
}

.pagination-header-left 
{
	float: left;
	display: inline-block;
}

.pagination-header-left > a 
{
	padding: 10px 20px;
	background-color: transparent;
	font-weight : 600;
	font-size:15px;
	color:#000;
	
	display: inline-block;
}

.pagination-header-left > a:hover 
{
	background-color: #7b0020 !important;
	text-decoration: none;
	color:#fff;
}


#graph-menu > ul > li > a{
	padding: 10px 20px;
	border-left: none;/*1px solid #a7a9aa;*/
	border-right:none;
	border-radius:0px;
	border-top:none;
	border-bottom:none;
	background-color: transparent;
	font-weight : 600;
	font-size:15px;
	margin:0px;
}



/* Buttons for the Previous and Next metric selection */
#metricCycleButtons {	
	position: absolute;
	left: 0px;
	right: 0px;
	top: 30px;
	
	z-index: 999;
	
	height: 50px;
}

#metricCycleButtons > table {
	margin-left: auto; /* Center the buttons */
	margin-right: auto;
}

#MultipleMetricTitle {
	width: auto;
	font-size:20px;
	font-weight: 400;
	padding-left: 20px;
	padding-right:20px;
}

#optionalTableTitle {
	width: auto;
	font-size:20px;
	font-weight: 400;
	padding-bottom: 20px;
	text-align: center;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

ul.timelineListStyle
{
	list-style-type: none;
    margin: 10px;
    padding: 10px;
}

ul.timelineListStyle > li
{
	display:inline;
	 margin-left:5px;;
}

.tab-content
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	overflow: visible !important;
}

.tab-pane
{
	position: absolute;
	top: 60px;
	left: 0px;
	right: 0px;
	bottom: 20px;
	
	padding: 0px;
	margin: 0px;
}

#table.tab-pane
{
	top: 20px;
}

.pagination-right
{
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	
	height: 50px;
	
	margin:0px; 
	padding:0px;
	background:#e0e0e0; 
}

.metricHeader {
	 font-size:16px;
	 font-family:arial, helvetica, sans-serif; 
	
	 padding: 10px 10px 10px 10px; 
	 
	 text-decoration:none; 
	
	 display:inline-block;
	
	 color: #FFFFFF;
	 background-color: #E8E8E8; 
}

.modal-body
{
	max-height:98%;
	max-width:97%;
	padding-left: 15px;
	padding-right: 15px;
}

#mbody 
{
	height: 100%;
	margin-right: 15px;
}

#mbodyBar
{
	height: 100%;
	margin-right: 15px;
}

.modal-header.red{
	background:#7b0020;
	color: white;
}

button.timeLineButton
{
	background:#00933B;
}

img
{
	margin-left:18%%
}

.nvtooltip
{
	margin-top: 75px;
}

form.signin .textbox label { 
	display:block; 
}

form.signin .textbox span { 
	display:block;
}

form.signin .textbox input { 
	width: 150px;
}
