@media only screen and (max-width:320px){
	body{
		width:320px;
	}
	.pagination{
		width:320px;
	}
}

@media only screen and (max-width: 830px){
	
	#sidebar-left{
		width:100%;
	}
	
	#startupMsgAct{
		width:80%;
	}
	
	.pagination-header-left{
		display:none;
	}
	
	#viz-tabs{
		position:absolute;
		right:0px;
		top:0px;
		height:100%;
		float:right;
	}
	
	.pagination > ul > li > a{
		height:36px;
		padding:7px;
	}
	
	.pagination > ul > li > a > i{
		padding:0px;
	}
	
	
	.trigger-button.open
	{
		background-color: #b41432;
	}
	
	#metricSelectionCol > .sidebar-content
	{
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}
	
	.sidebar
	{
		top:50px;
		bottom: 0px;
		left:0px;
		
		position: absolute;
	}
	
	.sidebar-content.accordion-menu{
		top:0px;
	}
	.sidebar-content.single-section{
		top:0px;
	}
	
	#viewWrapper{
		left:0px;
	}
	.side-icon{
		padding:15px 10px;
	}

}

@media only screen and (min-width: 830px){
	#states-trigger-wrapper
	{
		display: none;
	}
	
	#metrics-trigger-wrapper
	{
		display: none;
	}
	
	.sidebar
	{
		height: 100%;
	}
}
